 body {
  font-family: "Roboto Mono", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background: #e1e1dc;
  max-width: 60em;
  padding: 10em 8%;
  margin: 0 auto;
  line-height: 2.0;
  min-height: 100%;
}

a {
  text-decoration: none;
  color: #000;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hello {
  margin-bottom: 100px;
  font-weight: lighter;
}

.hello h1::after {
  background-color: #48469970;
  position: relative;
  height: 1px;
  content: "\00A0";
  width: 200px;
  display: block;
  right: -63px;
  top: -12px;
}

.hello a {
  color: #53005394;
}

.rrss {
  display: flex;
  gap: 20px;
  align-items: center;
}

.rrss i {
  font-size: 22px;
}

.rrss h3 {
  margin: 0;
}
